<footer>
    <div class="inner_footer">
        <div class="row">
            <div class="col_4">
                <h5>About Us</h5>
                <p>Cricket Betting Tips Prince is a website related to Cricket Predictions. We provide accurate Cricket
                    Predictions [Toss winner, Match Winner & Match Fancy] before every live Cricket Match.</p>
                <ul>
                    <li>
                        <a href="#">
                            <span class="material-symbols-outlined">location_on</span>opposite Zensar IT, Rakshak Nagar, Kharadi, Pune, Maharashtra 411014
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="material-symbols-outlined">mark_email_unread</span>
                            cricketbettingtipsprince@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="material-symbols-outlined">chat</span>(+91) 8888612962
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col_4">
                <h5>Quick Links</h5>
                <ul>
                    <li>IPL Predictions</li>
                    <li>ODI Predictions</li>
                    <li>Cricket betting tips</li>
                    <li>Privacy Policy</li>
                    <li>Test Predictions</li>
                    <li>T20 Predictions</li>
                    <li>IPL betting tips</li>
                    <li>Cricket prediction tips</li>
                    <li>Toss prediction tips</li>
                    <li>Cricket match prediction tips</li>
                  </ul>
                  
            </div>
            <div class="col_4">
                <h5>Disclaimer</h5>
                <p>We strictly follow the rules and policies set by the government. You must be of legal age as per requirement, and if you are under 18 years old, you are strictly not permitted to access this site or online cricket betting.</p>
                <h5>Social links</h5>
                <br>
                <br>
                <div class="social_div">
                
                    <span class="social_icon"><a href="#"><img src="assets/img/facebook.png" alt=""></a></span>
                    <span class="social_icon"><a href="#"><img src="assets/img/instagram.png" alt=""></a></span>
                    <span class="social_icon"><a href="#"><img src="assets/img/linkedin.png" alt=""></a></span>
                    <span class="social_icon"><a href="#"><img src="assets/img/twitter.png" alt=""></a></span>
                </div>
            </div>
        </div>
    </div>
</footer>