/* You can add global styles to this file, and also import other style files */
$primary-color: #141517;
$secondary-color: #F3F3F3;
$text-color: #333333;
$accent-color: #1976D2;
$bg-light-color: #f8f8f8;
$bg-dark-color: #232733;
$danger-color: rgb(208, 23, 23);
$success-color: rgb(19, 187, 19);


// body {
//   background-color: $primary-color;
// }

// .global-button {
//   background-color: $secondary-color;
//   color: white;
// }