<section>
    <div class="owl-carousel owl-carousel-hero">
        <div class="item"><img src="assets/img/slider-222.jpg" alt="Image 1"></div>
        <div class="item"><img src="assets/img/slider-222.jpg" alt="Image 2"></div>
    </div>
</section>

<!-- next-match -->
<section class="container">
    <app-upcoming-mslider></app-upcoming-mslider>
</section>

<!-- previous-match -->
<section class="container">
    <app-previous-match></app-previous-match>
</section>

<!-- ads  -->
<section class="container ads_sections">
    <img src="assets/img/Screenshot_8.png" width="100%" alt="ads image">
</section>


<section class="container">
    <h2 class="title">Cricket match predictions</h2>
    <div class="blog_predictions">
        <div class="blog_predictions_wrap">
            <div class="col_7 bg_border">
                <div class="row white_back">
                    <div class="col_4">
                        <a href="#"><img src="assets/img/blog1.webp" alt=""></a>
                    </div>
                    <div class="col_6">
                        <span class="category">Cricket Predictions</span>
                        <div class="blog_title">
                            <a href="#"> India vs Australia, 2nd ODI: Match Prediction – Who will win today’s match
                                between IND vs
                                AUS?</a>
                        </div>
                        <p class="expert">India (IND) and Australia (AUS) will square off in the second ODI of the
                            ongoing series on September 24, Sunday. The match will be contested at the Holkar Cricket
                            Stadium in Indore.</p>
                        <div class="blog_footer">
                            <span class="small_text">14 Oct 2023 | 36 Min</span>
                            <span><button class="accent_btn">Read more </button></span>
                        </div>
                    </div>
                </div>

                <app-archived-blogs></app-archived-blogs>
            </div>
            <div class="col_3" style="position: relative;">
                <div class="side_bar_home">
                    <div class="crick_score">
                        <h5 class="side_title"><span class="material-symbols-outlined">
                                military_tech
                            </span> Ranking</h5>
                        <app-cricket-ranking></app-cricket-ranking>
                        <div class="category" style="margin-top: 20px;">
                            <h5 class="side_title"><span class="material-symbols-outlined">
                                    emoji_events
                                </span> Current Series</h5>
                            <ul class="category_menu">
                                <li>ICC World Cup</li>
                                <li>Womens Big Bash League</li>
                                <li>NZ Women tour of SA</li>
                                <li>West indies Women tour of Australia</li>
                                <li>The Marsh Cup</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br>