<h2 class="title">Next Predictions</h2>

<div class="owl-carousel owl-carousel-upcoming">
    <div class="items">
        <div class="card">
            <div class="card-header">
                <span class="date"> 01 Jun 2023</span>
                <span class="date"> 11:30 PM</span>
            </div>
            <div class="card-body">
                <p class=" text-brown"><app-match-countdown [matchStartTime]="matches[0].dateTimeGMT"></app-match-countdown> </p>
                <div class="inner_body">
                    <span> <img [src]="img1" alt=""><br>IND</span>
                    <span class="vs">Vs</span>
                    <span> <img [src]="img2" alt=""> <br> ASU</span>
                </div>
                <p class="status">T20 Blast 2023 • 33th T20 Match • Leeds</p>
                <button class="accent_btn">BUY NOW <span class="material-symbols-outlined">
                        sports_cricket
                    </span></button>

            </div>
        </div>
    </div>
    <div class="items">
        <div class="card">
            <div class="card-header">
                <span class="date"> 01 Jun 2023</span>
                <span class="date"> 11:30 PM</span>
            </div>
            <div class="card-body">
                <p class=" text-brown"><app-match-countdown [matchStartTime]="matches[1].dateTimeGMT"></app-match-countdown></p>
                <div class="inner_body">
                    <span> <img [src]="img1" alt=""><br>IND</span>
                    <span class="vs">Vs</span>
                    <span> <img [src]="img2" alt=""> <br> ASU</span>
                </div>
                <p class="status">T20 Blast 2023 • 33th T20 Match • Leeds</p>
                <button class="accent_btn">BUY NOW <span class="material-symbols-outlined">
                        sports_cricket
                    </span></button>

            </div>
        </div>
    </div>
    <div class="items">
        <div class="card">
            <div class="card-header">
                <span class="date"> 01 Jun 2023</span>
                <span class="date"> 11:30 PM</span>
            </div>
            <div class="card-body">
                <p class=" text-brown"> <app-match-countdown [matchStartTime]="matches[0].dateTimeGMT"></app-match-countdown> </p>
                <div class="inner_body">
                    <span> <img [src]="img1" alt=""><br>IND</span>
                    <span class="vs">Vs</span>
                    <span> <img [src]="img2" alt=""> <br> ASU</span>
                </div>
                <p class="status">T20 Blast 2023 • 33th T20 Match • Leeds</p>
                <button class="accent_btn">BUY NOW <span class="material-symbols-outlined">
                        sports_cricket
                    </span></button>

            </div>
        </div>
    </div>

    <div class="items">
        <div class="card">
            <div class="card-header">
                <span class="date"> 01 Jun 2023</span>
                <span class="date"> 11:30 PM</span>
            </div>
            <div class="card-body">
                <p class=" text-brown"> 00 Days 00 Hr 00 Min 00 Sec </p>
                <div class="inner_body">
                    <span> <img [src]="img1" alt=""><br>IND</span>
                    <span class="vs">Vs</span>
                    <span> <img [src]="img2" alt=""> <br> ASU</span>
                </div>
                <p class="status">T20 Blast 2023 • 33th T20 Match • Leeds</p>
                <button class="accent_btn">BUY NOW <span class="material-symbols-outlined">
                        sports_cricket
                    </span></button>

            </div>
        </div>
    </div>
</div>