<div class="archied_blogs">
    <div class="inner_blogs">
        <div class="row white_back">
                <a href="#"><img src="assets/img/R-ahmed.webp" alt=""></a>
            <div class="col_6">
                <span class="category">Cricket Predictions</span>
                <div class="blog_title"><a href="#">
                    India vs Australia, 2nd ODI: Match Prediction – Who will win today’s match between IND vs
                    AUS?</a>
                </div>
                <p class="expert">India (IND) and Australia (AUS) will square off in the second ODI of the
                    ongoing series on September 24, Sunday. The match will be contested at the Holkar Cricket
                    Stadium in Indore.</p>
                <div class="blog_footer">
                    <span class="small_text">14 Oct 2023 | 36 Min</span>
                    <span><button class="accent_btn">Read more </button></span>
                </div>
            </div>
        </div>

        <div class="row white_back">
            <a href="#"><img src="assets/img/South-Africa-women (1).webp" alt=""></a>
        <div class="col_6">
            <span class="category">Cricket Predictions</span>
            <div class="blog_title"><a href="#">
                India vs Australia, 2nd ODI: Match Prediction – Who will win today’s match between IND vs
                AUS?</a>
            </div>
            <p class="expert">India (IND) and Australia (AUS) will square off in the second ODI of the
                ongoing series on September 24, Sunday. The match will be contested at the Holkar Cricket
                Stadium in Indore.</p>
            <div class="blog_footer">
                <span class="small_text">14 Oct 2023 | 36 Min</span>
                <span><button class="accent_btn">Read more </button></span>
            </div>
        </div>
    </div>

    <div class="row white_back">
        <a href="#"><img src="assets/img/Bangladesh.webp" alt=""></a>
    <div class="col_6">
        <span class="category">Cricket Predictions</span>
        <div class="blog_title"><a href="#">
            India vs Australia, 2nd ODI: Match Prediction – Who will win today’s match between IND vs
            AUS?</a>
        </div>
        <p class="expert">India (IND) and Australia (AUS) will square off in the second ODI of the
            ongoing series on September 24, Sunday. The match will be contested at the Holkar Cricket
            Stadium in Indore.</p>
        <div class="blog_footer">
            <span class="small_text">14 Oct 2023 | 36 Min</span>
            <span><button class="accent_btn">Read more </button></span>
        </div>
    </div>
</div>

<div class="row white_back">
    <a href="#"><img src="assets/img/blog1.webp" alt=""></a>
<div class="col_6">
    <span class="category">Cricket Predictions</span>
    <div class="blog_title"><a href="#">
        India vs Australia, 2nd ODI: Match Prediction – Who will win today’s match between IND vs
        AUS?</a>
    </div>
    <p class="expert">India (IND) and Australia (AUS) will square off in the second ODI of the
        ongoing series on September 24, Sunday. The match will be contested at the Holkar Cricket
        Stadium in Indore.</p>
    <div class="blog_footer">
        <span class="small_text">14 Oct 2023 | 36 Min</span>
        <span><button class="accent_btn">Read more </button></span>
    </div>
</div>
</div>
    </div>
</div>